body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/* menu section starts */
.menu-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    margin-top: 40px;
}
.m{
    list-style-type: none;
    display: flex;
    float: right;
    ;
}
.m a{
    text-decoration: none;
    color: black;
}
.m ul{

}
.m li,.fas {
    padding-right: 50px;
    font-size: x-large;
    font-weight: bolder;
}
.tagline{
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bolder;   
}
/* menu section ends */


/* hero section starts here */
.hero h1{
    color: black;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:100px ;
}
.hero-img{

}
.H-tagline{

}
.btn-hero{
    color: white;
    background-color: #E02C6D;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    border-color: #E02C6D;
    

}


/* hero section ends here */


/* colletion section starts here */
.h1-mac{
    text-align: center;
}
.container-coll{
    display: flex;
    margin-left: 400px;
    margin-right: 350px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.container-grid{
    padding: 20px;
    margin: 10px;
    background-color: rgb(236, 233, 233);
}
.container-grid .fa-star{
margin: 0;
padding: 0%;
color: #FB8200;
font-size:20px;}

.fa-star.no-f {
color: gray;
}
.item-info{
    color: gray;
    font-weight: bold;
    font-size: 10px;
}
.container-grid h1{
    font-weight: 300;
}
.container-grid h1,p,a{
margin: 0%;
padding: 0%;
margin-top: 9px;
text-decoration: none;
color: black;
}
.PRICE-TAG{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
/* colletion section ends here */


/* footer area starts */
footer{
    background-color: #0A0826;
    width:100%;
    height:250px;
}
footer p,h1{
    color: white;
}
footer p{
    padding-bottom: 10px;
}
.fab,.fa-brands{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-right:10px;
    margin-top: 10px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
/* footer area end */

@media only screen and (max-width: 700px){
    .nav{
        display: none;
    }
    .hero {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: space-around;
    }  
.hero h1{
    color: black;
}
    #img-mac{
        width: 95%;
    }

    .btn-hero{
        margin-left:25%;
    }
    .container-coll {
    margin-left:0px; 
    margin-right:0px;}

    div#img-mac  {order: 1;}
    div#class-m   {order: 2;}
}
@media screen and (max-width:1100px) and (min-width: 700px){
    .container-coll{
    margin: 0px;
    }
    .m{
        display: none;
    }
    .tagline{
        ali
    }
    .menu-container {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        flex-direction: column;
}