body{
    font-family: 'Poppins', sans-serif;
}
/* menu section starts */
.menu-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    margin-top: 40px;
}
.m{
    list-style-type: none;
    display: flex;
    float: right;
    ;
}
.m a{
    text-decoration: none;
    color: black;
}
.m ul{

}
.m li,.fas {
    padding-right: 50px;
    font-size: x-large;
    font-weight: bolder;
}
.tagline{
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bolder;   
}
/* menu section ends */


/* hero section starts here */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:100px ;
}
.hero-img{

}
.H-tagline{

}
.btn-hero{
    color: white;
    background-color: #E02C6D;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    border-color: #E02C6D;
    

}


/* hero section ends here */


/* colletion section starts here */
.container-coll{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.container-grid{
    margin: 20px;
}

/* colletion section ends here */