body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/* menu section starts */
.menu-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    margin-top: 40px;
}
.m{
    list-style-type: none;
    display: flex;
    float: right;
    ;
}
.m a{
    text-decoration: none;
    color: black;
}
.m ul{

}
.m li,.fas {
    padding-right: 50px;
    font-size: x-large;
    font-weight: bolder;
}
.tagline{
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bolder;   
}
/* menu section ends */


/* hero section starts here */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:100px ;
}
.hero-img{

}
.H-tagline{

}
.btn-hero{
    color: white;
    background-color: #E02C6D;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    border-color: #E02C6D;
    

}


/* hero section ends here */


/* colletion section starts here */
.container-coll{
    display: flex;
    margin-left: 400px;
    margin-right: 350px;
    flex-wrap: wrap;
    justify-content: center;
}

.container-grid{
    padding: 20px;
    margin: 10px;
    background-color: rgb(236, 233, 233);
}
.container-grid .fa-star{
margin: 0;
padding: 0%;
color: #FB8200;
font-size:20px;}

.fa-star.no-f {
color: gray;
}
.item-info{
    color: gray;
    font-weight: bold;
    font-size: 10px;
}
.container-grid h1{
    font-weight: 300;
}
.container-grid h1,p,a{
margin: 0%;
padding: 0%;
margin-top: 9px;
text-decoration: none;
color: black;
}
.PRICE-TAG{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}


}
/* colletion section ends here */